<section class="about" id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <img src="img/mainPhoto.jpeg" class="img-fluid border-0 rounded-pill" alt="Profile Picture">
        </div>
        <div class="col-lg-6 mt-5 mt-lg-0">
          <h2>About Me</h2>
          <h3>Hello! <span style="color:#E96F85;">I am John Doe - the cake master</span></h4>

          <p>I am baking the cakes with passion for five years. I have already baked numerous fancy cakes for weddings and birthdays. 
            Sometimes clients ask me to bake a cake for a special event, such as company anniversary as well!</p>
          <p>In the 2021 I participate in Cake International contest and got the Silver award badge. Although for me smile of satisfied client is way more important than any possible award.</p>
          <p>If you are interested in my work, you can check the greatest cakes I baked on my social media:</p>
          <a href="#"><i class="bi bi-facebook"></i></a>
          <a href="#"><i class="bi bi-instagram"></i></a>
          <a href="#"><i class="bi bi-youtube"></i></a>
          <a href="#"><i class="bi bi-twitter"></i></a>
        </div>
      </div>
    </div>
  </section>