
    <title>Portfolio</title>
    <link rel="stylesheet" href="./font/bootstrap-icons.css">
    <link href="./css/bootstrap.min.css" rel="stylesheet">
    <link href="./css/navbar.css" rel="stylesheet">
    <link href="./css/header.css" rel="stylesheet">
    <link href="./css/icons.css" rel="stylesheet">
    <link href="./css/services.css" rel="stylesheet">
    <link href="./css/carousel.css" rel="stylesheet">
    <link href="./css/filters.css" rel="stylesheet">
    <link href="./css/contact.css" rel="stylesheet">
