<header id="home">
    <div class="container-fluid header-content">
      <div class="row">
        <div class="col">
          <div class="content-box text-center text-light">
            <h1>Welcome</h1>
            <h2>I am <span class="aboutMe"></span></h2>
            <p>Let me know if you want to taste the best cake in the world <i class="bi bi-emoji-smile-upside-down"></i></p>
            <a href="#" class="btn btn-primary">DOWNLOAD CV</a>
          </div>
        </div>
      </div>
    </div>
</header>