<section id="portfolio">
    <div class="container">
      <div class="row">
        <div class="col mb-5 text-center">
          <h2>Portfolio</h2>
          <p>The cakes I already baked for my clients.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 mx-auto mb-5">
          <button class="btn active" onclick="filterSelection('all')"> Show all</button>
          <button class="btn" onclick="filterSelection('wedding')">Wedding cakes</button>
          <button class="btn" onclick="filterSelection('christmas')"> Christmas cakes</button>
          <button class="btn" onclick="filterSelection('birthday')"> Birthday cakes</button>
          <button class="btn" onclick="filterSelection('anniversary')"> Anniversary cakes</button>
        </div>
      </div>
      <div class="row grid">
        <div class="hide col-lg-4 col-md-6 col-sm-12 wedding">
          <div class="text-center">
            <img class="mb-3" src="./img/wedding_cake.jpg" alt="Wedding 1" style="width:100%">
            <h4>Wedding cake for Mark & Emily</h4>
            <p>Emily said she loves flowers, she loved the cake even more. </p>
          </div>
        </div>
        <div class="hide col-lg-4 col-md-6 col-sm-12 wedding">
          <div class="text-center">
          <img class="mb-3"  src="./img/wedding_cake2.jpg" alt="Wedding 2" style="width:100%">
            <h4>Wedding cake for John & Barbara</h4>
            <p>The newlyweds said they like minimalistic style.</p>
          </div>
        </div>
        <div class="hide col-lg-4 col-md-6 col-sm-12 wedding">
          <div class="text-center">
          <img class="mb-3" src="./img/wedding_cake3.jpg" alt="Wedding 3" style="width:100%">
            <h4>Wedding cake for Steven & Sarah</h4>
            <p>Steven and Sarah invited many guests, so they wanted to be sure that everyone can taste the wedding cake.</p>
          </div>
        </div>
                        
        <div class="hide col-lg-4 col-md-6 col-sm-12 christmas">
          <div class="text-center">
            <img class="mb-3" src="./img/christmas_cake.jpeg" alt="Christmas" style="width:100%">
            <h4>Last Christmas</h4>
            <p>With this cake you can feel the spirit of the Christmas.</p>
          </div>
        </div>
        <div class="hide col-lg-4 col-md-6 col-sm-12 christmas">
          <div class="text-center">
            <img class="mb-3" src="./img/christmas_cake2.jpeg" alt="Christmas 2" style="width:100%">
            <h4>Classy Christmas</h4>
            <p>Spend your Christmas with style and taste this modern-looking cake!</p>
          </div>
        </div>
        <div class="hide col-lg-4 col-md-6 col-sm-12 birthday">
          <div class="text-center">
          <img class="mb-3" src="./img/birthday_cake.jpg" alt="Birthday 1" style="width:100%">
            <h4>Cream birthday cake</h4>
            <p>Make a wish before tasting this delicious cake!</p>
          </div>
        </div>
        <div class="hide col-lg-4 col-md-6 col-sm-12 birthday">
          <div class="text-center">
          <img class="mb-3" src="./img/birthday_cake2.jpg" alt="Birthday 2" style="width:100%">
            <h4>Raspberry birthday cake</h4>
            <p>Small Alexandra celebrated her third birthday with this delicious cake.</p>
          </div>
        </div>
        <div class="hide col-lg-4 col-md-6 col-sm-12 anniversary">
          <div class="text-center">
          <img class="mb-3" src="./img/anniversary_cake.jpeg" alt="Anniversary 1" style="width:100%">
            <h4>50th wedding anniversary</h4>
            <p>Harry and Margaret celebrated their 50th wedding anniversary with style.</p>
          </div>
        </div>              
        <div class="hide col-lg-4 col-md-6 col-sm-12 anniversary">
          <div class="text-center">
          <img class="mb-3" src="./img/anniversary_cake2.jpeg" alt="Anniversary 2" style="width:100%">
            <h4>Company's 50th anniversary</h4>
            <p>The big company celebrated its 50th anniversary with this classy cake!</p>
          </div>
        </div>              
      </div>
</section>