<section id="services">
    <div class="container text-center">
      <div class="row">
        <div class="col mb-5 ">
          <div class="col">
            <h2>My Services</h2>
            <p>I am baking cakes for every possible occasion. You can check the most popular ones below, but if you don't find the one you are looking for, please contact me to discuss it.</p>
          </div>
        </div>
      </div>
      <div class="row text-center">
        <div class="col-lg-6">
          <div class="card">
            <div class="wedding-img img-container"></div>
            <div class="card-body">
              <h5 class="card-title">Wedding cakes</h5>
              <p class="card-text">Are you planning the wedding. I can help you with celebration of this very important day with baking the greatest wedding cake, which will surely impress every single guest.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="card">
            <div class="birthday-img img-container"></div>
            <div class="card-body">
              <h5 class="card-title">Birthday cakes</h5>
              <p class="card-text">Does any important to you have birthday soon? Let's make this day special with one of special birthday cakes.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row text-center mt-4">
        <div class="col-lg-6">
          <div class="card">
            <div class="christmas-img img-container"></div>
            <div class="card-body">
              <h5 class="card-title">Christmas cakes</h5>
              <p class="card-text">Christmas preparation can be extremely exhausting. You can help yourself with ordering high-quality Christmas cake which will make everyone feel the spirit of Christmas.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="card">
            <div class="anniversary-img img-container"></div>
            <div class="card-body">
              <h5 class="card-title">Anniversary cake</h5>
              <p class="card-text">Celebrate your anniversary with style and the best quality anniversary cake. Make your partner feel special, as people say - the way to a human's heart is through the stomach. </p>
            </div>
          </div>
      </div>
    </div>
  </section>