<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Portfolio</title>
<link rel="stylesheet" href="./font/bootstrap-icons.css">
  <link rel="stylesheet" href="../css/bootstrap.min.css"/>
  <link href="../css/home/header.css" rel="stylesheet">
      </head>
    <body class="position-relative" data-bs-spy="scroll">
      <%- include('./partials/navbar.ejs') %>
      <div data-spy="scroll" data-target="#navbar" data-offset="0">
        <%- include('./partials/home.ejs') %>
      </div>
      <%- include('./partials/scripts.ejs') %>
    </body>
</html>